*,
**,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: url(/weather-app/background.png) no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: white;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 10vh;
    width: 40vw;
    align-items: center;

    .input-container {
      display: grid;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      overflow: hidden;
      outline: none;
      //width: 30vw;
      width: 2rem;
      height: 2rem;
      text-align: center;
      border: none;
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
      //
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      .input {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        height: inherit;
        text-align: left;
        font-size: 1.1rem;
        border: none;
        outline: none;
      }

      .fa-search-location {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        font-size: 1.5rem;
        color: #333;
      }
    }

    .focus {
      display: flex;
      align-items: center;
      outline: none;
      width: 30vw;
      .fa-search-location {
        padding-right: 1rem;
      }
    }

    button {
      padding: 0.35rem 1rem;
      background-color: #09a5d5;
      color: #031a21;
      font-size: 0.9rem;
      text-transform: capitalize;
      border: none;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;

      &:hover {
        background-color: #1088ac;
      }
    }
  }

  .weather-cards {
    display: flex;
    @media only screen and (max-width: 1300px) {
      flex-direction: column;
    }

    .weather-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: white;
      padding: 0 2rem 0 2rem;
      background: rgb(2, 0, 36);
      background: linear-gradient(0deg, transparent, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 0%, rgba(1, 98, 118, 0.3) 100%);
      border-radius: 1.2rem;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -ms-border-radius: 1.2rem;
      -o-border-radius: 1.2rem;
      box-shadow: 0px 0px 35px 5px rgb(12, 12, 12);
      min-width: 350px;
      min-height: 700px;
      margin: 0 2rem;

      @media only screen and (max-width: 1300px) {
        margin: 1rem 0;
      }

      h1 {
        font-size: 3rem;
        font-weight: 100;
      }
      .date {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.753);
        margin-bottom: 1rem;
      }
      .temperature {
        font-size: 6rem;
        margin-bottom: 1rem;
      }
      .underline {
        content: "";
        height: 2px;
        width: 40%;
        background-color: white;
        margin-bottom: 2rem;
      }
      .conditions {
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 0.8rem;
      }
      .min-max-temp {
        font-weight: 900;
        margin-bottom: 1rem;
      }
      .wind {
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;
      }
      .sunrise-sunset {
        display: flex;
        justify-content: space-between;
        gap: 9em;
        margin-bottom: 5rem;
        .sunrise,
        .sunset {
          display: flex;
          gap: 0.5rem;
        }
      }
      .daily-btn {
        display: grid;
        justify-content: center;
        align-content: flex-end;
        height: 40px;
        width: 80px;
        cursor: pointer;
        background-color: peachpuff;
        border-top-left-radius: 40px * 2;
        border-top-right-radius: 40px * 2;
        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -ms-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;

        .fa-chevron-up {
          font-size: 1.8rem;
          color: #333;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        &:hover,
        &:focus {
          background-color: rgb(250, 190, 138);
        }
      }

      .daily-forecast {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-bottom: 5rem;
        .daily {
          display: flex;
          flex-direction: column;
          color: white;
        }
      }
    }
  }
}
